version: '3.9'

services:

  db:
    image: postgres:15
    container_name: odoo_postgres
    # restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - odoo-db-data:/var/lib/postgresql/data

  odoo:
    image: odoo:17.0-20240101
    container_name: odoo_app
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./odoo/config/odoo.conf:/etc/odoo/odoo.conf
    environment:
      - HOST=db
    restart: always

volumes:
  odoo-db-data:
  odoo-web-data:
